<%= title new(:poem) %>

<%= semantic_form_for @poem do |f| %>
  <%= f.input :content, :as => :text %>
  <%= f.submit %>
<% end %>

<ul>
  <% @last_verses.each do |verse| %>
  <li><%= verse.content %></li>
  <% end %>
</ul>
