<%= semantic_form_for @word do |f| %>
  <%= f.input :name, :label => ft(:word) %>
  <% @word.definitions.each_with_index do |definition,i| %>
    <%= f.inputs :for => [:definitions,definition] do |ref| %>
      <%= render "definition_fields", f:ref, i:i, definition:definition %>
    <% end %>
  <% end %>
  <li><%= link_to_add_fields add(:definition), f, :definitions %></li>
  <%= f.input :form_tokens, :label => ft(:forms), :input_html => {"data-pre" => @word.forms.map(&:attributes).to_json} %>
  <%= submit f,@word %>
<% end %>
