<%= title new(:word) %>

<div id="last_word">
  <h2>Last Word</h2>
  <div id="word">
    <span class="label">
      <%= ft(:word) %>:
    </span>
    <span class="content">
      <%= @last_word && @last_word.name %>
    </span>
  </div>
  <% if @last_word && @last_word.definitions.present? %>
    <div id="content">
      <span class="label">
        <%= ft(:definition) %>:
      </span>
      <span class="content">
        <%= @last_word.definitions.last.content %>
      </span>
    </div>
  <% end %>
</div>
<div class="clear"></div>

<%= render 'form' %>
